    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta http-equiv='Content-Security-Policy' content="default-src 'self'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; img-src 'self' data: https://i.creativecommons.org https://licensebuttons.net https://www.google-analytics.com; script-src 'self' https://www.googletagmanager.com https://www.google-analytics.com; font-src 'self' data: https://fonts.gstatic.com; ">

    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@mattbierner">
    <meta name="author" content="{{ site.author }}" />

{% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
{% endif %}

{% if page.description %}
    <meta name="description" content="{{ page.description | strip_html }}" />
    <meta property="og:description" content="{{ page.description | strip_html }}" />
    <meta name="twitter:description" content="{{ page.description | strip_html }}">
{% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
{% endif %}

