.playground {
    flex: 1;
    display: flex;
    border-bottom: 1px solid black;

    #editor-container {
        flex: 1;
        border-left: 1px solid black;
        overflow: hidden;
        max-width: 500px;

        #editor {
            height: 100%;
        }
    }

    #content-iframe {
        flex: 1;
    }
}

