@import url('https://fonts.googleapis.com/css?family=PT+Mono');

// Colors
$blue: #57A3E8;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #555;
$gray: #777;
$lightGray: #aaa;
$lighterGray: #eee;
$white: #fff;

// Fonts
$mono: 'PT Mono', monospace;
$serif: Georgia, 'Times New Roman', Times, serif
